@using PowerNutrition.Web.ViewModels.Category
@model CategoryDeleteInputModel
@{
    ViewData["Title"] = "Confirm Delete";
}
<h2 style="font-size: 48px; text-align:center">Confirm Delete</h2>

<div style="border:4px solid red; width: 50%; margin: 10px auto">
    <p style="font-size:24px; text-align: center">
        Are you sure you want to delete @Model.Name?
    </p>
    <div style="display:flex; flex: 1; justify-content: space-between; padding:5px">
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Cancel</a>

        <form asp-controller="Category" asp-action="Delete" method="post">
            <input asp-for="Id" type="hidden" />
            <input asp-for="Name" type="hidden" />
            <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
    </div>
    <p style="text-align: center; color:red">
        NOTE: Every supplement from this category will also be deleted
    </p>
</div>